{% extends "base.html" %}

{% block content %}
<h1>About This Project</h1>

<p>This is a minimal Flask project designed to teach the basics of setting up a Flask application.</p>

<div class="box">
    <h2>What You'll Learn</h2>
    <ul>
        <li>How to create a Flask application</li>
        <li>How to set up project structure</li>
        <li>How to use templates</li>
        <li>How to serve static files</li>
        <li>How to configure your application</li>
    </ul>
</div>
{% endblock %}