{% extends "base.html" %}

{% block content %}
<h1>Welcome to Flask Basics Project</h1>

<p>This is a simple Flask application to learn project setup.</p>
<p>You've successfully set up a Flask project!</p>

<div class="box">
    <h2>Project Structure</h2>
    <ul>
        <li><b>app.py</b> - Main Flask application file</li>
        <li><b>config.py</b> - Configuration settings</li>
        <li><b>templates/</b> - HTML templates</li>
        <li><b>static/</b> - CSS, JavaScript, images</li>
    </ul>
</div>
{% endblock %}